@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #e2001a;
$primary-invert: findColorInvert($primary);
$moodle: #f48600;
$moodle-invert: findColorInvert($moodle);
$discord: #7289DA;
$discord-invert: findColorInvert($discord);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
  "discord": (
    $discord,
    $discord-invert,
  ),
  "moodle": (
    $moodle,
    $moodle-invert,
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
