name: CI

on:
  pull_request:
    branches: [ main, version-2 ]
  push:
    branches:
      - main
      - version-2

jobs:
  test:
    runs-on: ubuntu-latest
    needs: [lint]
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - name: "Checkout repository"
      uses: actions/checkout@v2

    - name: "Set up Node.js ${{ matrix.node-version }}"
      uses: actions/setup-node@v2.4.1
      with:
        node-version: ${{ matrix.node-version }}

    - name: "Set up Docker Buildx"
      uses: docker/setup-buildx-action@v1
      
    - name: "Install all dependencies"
      run: npm ci

    - name: "Run unit tests"
      run: npm run test

    - name: "Build files for docker image"
      run: npm run build
      
    - name: "Run test to build docker image"
      uses: docker/build-push-action@v1
      with:
        push: false
        tags: test
  
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - name: "Checkout repository"
      uses: actions/checkout@v2

    - name: "Use Node.js ${{ matrix.node-version }}"
      uses: actions/setup-node@v2.4.1
      with:
        node-version: ${{ matrix.node-version }}
      
    - name: "Install all dependencies"
      run: npm ci

    - name: "Run linter"
      run: npm run lint

  dependency-check:
    runs-on: ubuntu-latest
    if: github.event.pull_request.base.ref == 'release'
    strategy:
      matrix:
        directory: ['./packages/backend', './packages/frontend']
    steps:
    - name: "Checkout repository"
      uses: actions/checkout@v2

    - name: "Set up Node.js 12.x"
      uses: actions/setup-node@v2.4.1
      with:
        node-version: 12.x

    - name: "Run audit"
      continue-on-error: true
      working-directory: ${{ matrix.directory }}
      run: npm audit

  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"


  SAST:
    needs: [test, lint, dependency-check]
    runs-on: ubuntu-latest
    if: github.event.pull_request.base.ref == 'release'
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v2
      
      - name: "Run Snyk to check for vulnerabilities"
        continue-on-error: true
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      
      - name: "Initialize CodeQL"
        uses: github/codeql-action/init@v1
        with:
          languages: javascript
     
      - name: "Perform CodeQL Analysis"
        uses: github/codeql-action/analyze@v1
