name: Tools - Create Issue Branch
on:
  issues:
    types: [ assigned ]
  issue_comment:
    types: [ created ]
  pull_request:
    types: [ closed ]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      checks: write
      contents: write
      deployments: none
      issues: write
      packages: none
      pull-requests: write
      repository-projects: none
      security-events: none
    steps:
      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}